<%- include("../partials/head.html") %>
    
    
     <div style="color:red; text-align:center; font-size: 4em;">
        Ade is boy
        My name is <%= name %> <br>
        <%= user.Dept  %> 
     </div>

     
      <%  
         numbers.forEach(element => { %>
         <span><%= element %></span>
         <% }) %> 

         
     
     <%- include("../partials/bottom.html") %>