<%- include("../partials/head.html") %>
    
    <div class="shadow-lg p-3 mb-5 bg-white rounded m-5" style="width: 20%;" >
        <h1 class="text-center">Cinema</h1>
        <table class="table table-bordered">
            <tr>
                <th>Title</th>
                <th>More</th>
                <th>Date</th>
            </tr>
            <tr>
                <td><%= post.title %></td>
                <td><%= post.more %></td>
                <td><%= data11 %> </td>

            </tr>
        </table>
        
       
    </div>
    
<%- include("../partials/bottom.html") %>